.diskusi-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.diskusi-card_header-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.diskusi-card_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

.diskusi-card_header-group .diskusi-card_header {
    margin-bottom: 0;

}

.diskusi-card_header-left,
.diskusi-card_header-new-comment {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.diskusi-card_header-new-comment {
    justify-content: flex-start;
}

.diskusi-card_header-image {
    height: 35px;
    width: 35px;
}

.diskusi-card_header-image img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.btn-change-status {
    background-color: transparent;
    border: transparent;
    display: flex;
    align-items: center;
}

.diskusi-card_header-status,
.diskusi-card_header-status-finish,
.diskusi-card_header-status-notFinish {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
    padding-inline: 10px;
}

.diskusi-card_header-status,
.diskusi-card_header-status-finish {
    background-color: rgb(187, 236, 187);
    color: green;
}

.diskusi-card_header-status-finish:hover {
    background-color: rgb(132, 235, 132);
}

.diskusi-card_header-status-notFinish {
    background-color: rgb(239, 148, 148);
    color: darkred;
}

.diskusi-card_header-status-notFinish:hover {
    background-color: rgb(239, 113, 113);
}

.diskusi-card_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#matkulDiskusiListPage .diskusi-card_content h3 {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#matkulDiskusiListPage .diskusi-card_content p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.diskusi-card_content h3 {
    margin: 0;
    font-size: 20px;
}

.diskusi-card_content p {
    font-size: 15px;
}

.diskusi-card_footer {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.diskusi-card_footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.diskusi-card_footer p {
    font-size: 15px;
    margin-top: 2px !important;
}

.diskusi-card_footer button {
    background-color: transparent;
    border: transparent;
}